<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置自定义扫描的包-->
    <context:component-scan base-package="com.*"/>

    <mvc:default-servlet-handler/>

    <!-- 启动SpringMVC的注解功能，它会自动注册HandlerMapping、HandlerAdapter、ExceptionResolver的相关实例 -->
    <mvc:annotation-driven conversion-service="conversionService" />

    <!--配置conversionService,数据转换器-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.converters.User1Converter"/>
            </set>
        </property>
    </bean>

    <!--配置文件上传MultipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="1024000"/>
    </bean>

    <!--配置自定义的拦截器
        拦截器默认是拦截所有请求，但是如果配置的话可以指定拦截的范围
        例如：如下配置指定Interceptor1拦截器拦截/controller1/method1，/controller1/method2的请求
        Interceptor2拦截器拦截/controller1/method3，/controller1/method4的请求
        Interceptor3拦截器拦截所有请求
    -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/controller1/method1"/>
            <mvc:mapping path="/controller1/method2"/>
            <bean class="com.interceptors.Interceptor1"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/controller1/method3"/>
            <mvc:mapping path="/controller1/method4"/>
            <bean class="com.interceptors.Interceptor2"/>
        </mvc:interceptor>
        <bean class="com.interceptors.Interceptor3"/>
    </mvc:interceptors>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>